.nice headline {
font-family: 'Anton', 'Impact', 'Haettenschweiler', 'Arial Narrow Bold',
sans-serif;
font-size: 8rem;
line-height: 9rem;
color: #ffffffe0;
width: 100%;
text-align: left;
text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #fff;
}
