/* ============== navbar =============== */
li {
  list-style: none;
}

.nav2-item {
  background-color: #1d1d1d;
}
.nav2-item .nav2-link {
  color: white;
}
.nav2-item .nav2-link:hover {
  color: #afafaf;
  text-decoration: none;
}

#navCollapse {
  background: rgba(255, 254, 254, 0.842);
  flex-grow: 1;
}

#navbarclassic {
  display: none;
}

.nav-item,
.nav-link {
  color: #526778;
  font-family: "Anton";
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-right: 7px groove rgba(255, 250, 248, 0.7);
  border-radius: 0px 40px 40px 0px;
}

.nav-link:hover {
  color: gray;
  background-color: #ffffff80;
}

/* ============== hero =============== */
.parallax {
  width: 100%;
  height: 150vh;
  background: url("../img/city-fog1920tiny.png") center center no-repeat;
  background-size: cover;
}

.headline {
  position: fixed;
  top: 5%;
  left: 5%;
  font-family: "Anton", "Impact", "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  color: #ffffffe0;
  text-shadow: 0 13.36px 8.896px #666564, 0 -2px 1px rgba(255, 255, 255, 0.925);
}

.mask {
  mask-image: url("../img/mask1920tiny.png");
  mask-size: cover;
  -webkit-mask-image: url("../img/mask1920tiny.png");
  -webkit-mask-size: cover;
  width: 100%;
  height: 150vh;
}

/* ============== next-hero SECTION =============== */
.text-heading {
  font-family: "Anton", "Impact", "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  font-size: 4rem;
  text-align: center;
  color: #526778d3;
  text-shadow: 0 13.36px 8.896px #858380, 0 -2px 1px white;
}

.text-motto {
  font-family: "Anton", "Impact", "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  font-size: 7rem;
  line-height: 8rem;
  color: #00000057;
  text-shadow: 3px -3px 12px #edececcc;
  word-wrap: break-word;
}

.next-hero {
  background: linear-gradient(180deg, white 8%, #6c6c76 34%, #5a5a61 39%);
}
.next-hero .shape {
  height: 450px;
  background: url("../img/banner-clouds.png") repeat center center;
  animation: anim-background 4000s linear 1;
}
@keyframes anim-background {
  from {
    background-position: center center;
  }
  to {
    background-position: 50000px 0px;
  }
}

/* ============== next SECTION =============== */
.next h2 span {
  color: #2582ff;
}

.text-DLT {
  color: #2582ff;
}
.text-DLT h3 {
  letter-spacing: 4px;
  border: 4px solid gray;
  font-size: 4rem;
  font-family: "Anton";
  text-shadow: 3px 1px 3px black;
}
.text-DLT .first {
  color: gray;
  font-size: 2.5rem;
}
.text-DLT .filter-container {
  position: relative;
  height: auto;
  filter: url(#liq);
}
.text-DLT .fancy-btn {
  position: relative;
  width: 220px;
  height: 80px;
  border: none;
  background: none;
  transition: 0.5s;
}
.text-DLT .fancy-btn span {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  width: 20px;
  height: 100%;
  background-color: black;
  transition: 0.7s cubic-bezier(0, 2, 0.7, 2);
}
.text-DLT .fancy-btn:hover span, .text-DLT .fancy-btn:focus span {
  height: 130%;
  transition: 0.4s cubic-bezier(0.1, 1, 0.2, 4);
}
.text-DLT .fancy-btn span:nth-child(1) {
  transition-delay: 0.25s;
  left: 0;
}
.text-DLT .fancy-btn span:nth-child(2) {
  transition-delay: 0.2s;
  left: 20px;
}
.text-DLT .fancy-btn span:nth-child(3) {
  transition-delay: 0.15s;
  left: 40px;
}
.text-DLT .fancy-btn span:nth-child(4) {
  transition-delay: 0.1s;
  left: 60px;
}
.text-DLT .fancy-btn span:nth-child(5) {
  transition-delay: 0.05s;
  left: 80px;
}
.text-DLT .fancy-btn span:nth-child(6) {
  transition-delay: 0;
  left: 100px;
}
.text-DLT .fancy-btn span:nth-child(7) {
  transition-delay: 0.05s;
  left: 120px;
}
.text-DLT .fancy-btn span:nth-child(8) {
  transition-delay: 0.1s;
  left: 140px;
}
.text-DLT .fancy-btn span:nth-child(9) {
  transition-delay: 0.15;
  left: 160px;
}
.text-DLT .fancy-btn span:nth-child(10) {
  transition-delay: 0.2s;
  left: 180px;
}
.text-DLT .fancy-btn span:nth-child(11) {
  transition-delay: 0.25s;
  left: 200px;
}
.text-DLT .fancy-btn p {
  position: relative;
  color: white;
  transition: color 0.5s;
  z-index: 1000;
}
.text-DLT .fancy-btn p:hover,
.text-DLT .fancy-btn :focus {
  color: #969393;
}

@media (min-width: 768px) {
  .headline {
    font-size: 6rem;
    line-height: 7rem;
  }

  .text-motto {
    font-size: 8rem;
    line-height: 9rem;
  }

  #navbarclassic {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .headline {
    font-size: 8rem;
    line-height: 9rem;
  }
}
.dummy {
  height: 1000vh;
}

/*# sourceMappingURL=style.css.map */
